body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f8;
  color: #1c1c1c;
}

header {
  background: #1d3557;
  color: white;
  padding: 2rem;
}

nav a {
  color: #a8dadc;
  margin-right: 1.5rem;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  background: white;
}

img {
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  background: #eee;
}